.nav-container {
	z-index: 9999999 !important;
}

#menu {
	height:40px;
	width: 982px;
	margin: 0 auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9px;
	background: #F7FBF3;
	background: -moz-linear-gradient(top, #F7FBF3 0%, #DEEDCC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7FBF3), color-stop(100%,#DEEDCC));
	background: -webkit-linear-gradient(top, #F7FBF3 0%,#DEEDCC 100%);
	background: -o-linear-gradient(top, #F7FBF3 0%,#DEEDCC 100%);
	background: -ms-linear-gradient(top, #F7FBF3 0%,#DEEDCC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbf3', endColorstr='#deedcc',GradientType=0 );
	background: linear-gradient(top, #F7FBF3 0%,#DEEDCC 100%);
	border: 1px solid #53C606;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-image: initial;
}

#menu li {
    float:left;
    display:block;
    text-align:center;
    position:relative;
    padding: 10px 5px 10px 5px;
    border:none;
    width: 50px;
}
#menu li.drop {
height: 20px;
}
#menu li.drop a {
line-height: 1.2;
height: 15px;
display: block;
}

#menu li.menu_left {
    border-right: 1px solid #53C606;	
}

#menu li.last {
    border-right:0;
}

#menu li.menu_right {
    border-left: 1px solid #53C606;	
}

#menu li:hover {
    background: transparent ;
}
/*.nav-container #menu .allcategories { background:url("img/bg.gif") repeat-x scroll 0 0 #F4F4F4 ;}
.nav-container #menu .allcategories:hover { background:#CC0001;}*/


#menu li a {
	color: #4D4D4D;
    display:block;
    outline:0;
    text-decoration:none;
}

#menu li:hover a {
    /*	color:#161616;*/
}

.dropdown_1column,
.dropdown_1column_simple,
.dropdown_2column_simple,
.dropdown_2column,
.dropdown_3column,
.dropdown_4column,
.dropdown_5column {
	z-index: 9999999 !important;
	margin: 10px auto;
	float: left;
	position: absolute;
	left: -999em;
	text-align: left;
	padding: 10px 5px 10px 5px;
	border-top: none;
	background: #EBF8E1;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 2px 2px 5px #7AC943;
	border: 1px solid #7AC943;
	border-top: 0;
	border-image: initial;
	display: block;
}

.dropdown_1column_simple {width: 170px;}
.dropdown_1column {width: 170px;}
.dropdown_2column {width: 340px;}
.dropdown_3column {width: 510px;}
.dropdown_4column {width: 680px;}
.dropdown_5column {width: 850px;}

.col_1 {width:155px;}
.col_2 {width:335px;}
.col_3 {width:505px;}
.col_4 {width:678px;}
.col_5 {width:845px;}

.col_1,.col_2,.col_3,.col_4,.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    /*    border: 1px solid red;*/
}

.nav-container #menu .first:hover .align_left  {
    left:0px;
    top:auto;
}
#menu li:hover .align_left  {
    left:-1px;
    top:auto;
}
#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}

.nav-container #menu .allcategories:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}

#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}



#menu p, #menu h2, #menu h3, #menu ul li {
    font-family:Arial, Helvetica, sans-serif;
    line-height:21px;
    font-size:10px;
    text-align:left;
    color:  #333;
}
#menu h2 {
    font-size:10px;
    margin:7px 0 8px 0;
    padding-bottom:1px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:10px;
    margin:7px 0 8px 0;
    padding-bottom:1px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:10px;
    margin:0 0 10px 0;
}

#menu li:hover div a {
    font-size:9px;
    color: #000000;
    text-decoration: none;
}
#menu li:hover div a:hover {
    color: #A72D2C;
}
/*
LEVELS
*/
.viewall { color: #666;padding-right: 10px;  background:url("img/all.gif") no-repeat right 50%;}

.level1 {font-size:10px; padding-left: 2px; display: block; width: 100%;border-bottom: 1px dashed #DDDDDD;}
.level2 {font-size:9px; padding-left: 6px;}
.level3 {font-size:9px; padding-left: 10px;}
.level4 {font-size:9px; padding-left: 12px;}
.level5 {font-size:9px; padding-left: 14px;}
.level6 {font-size:9px; padding-left: 16px;}
.level7 {font-size:9px; padding-left: 18px;}
.level8 {font-size:9px; padding-left: 18px;}

.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}

.imgshadow {  
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left {  
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}

#menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;

    /*    Rounded Corners*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 2px 0;
}
#menu li ul li a {
    font-weight: normal;
}
#menu li ul li {
    background:0;
    font-size:12px;
    line-height:16px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:160px;
	padding-top: 5px;    
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
	padding-top: 5px;        
}

#menu li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;

}
#menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}


/*
SIMPLE RIGHT
*/

#menu li:hover .simple li a {
    padding-left: -1px;
    display: block;
    width: 160px;
    border-bottom: 1px dashed #DDDDDD;
}