<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_Megamenu>
            <version>1.2.3</version>
        </Magazento_Megamenu>
    </modules>
    <frontend>
        <layout>
            <updates>
                <megamenu>
                    <file>magazento_megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magazento_Megamenu>
                    <files>
                        <default>Magazento_Megamenu.csv</default>
                    </files>
                </Magazento_Megamenu>
            </modules>
        </translate>
    </frontend>
    
    <global>
        <rewrite>
            <mage_adminhtml_system_variable>
                <from><![CDATA[#^/megamenu/system_variable#]]>
                </from>
                <to>/admin/system_variable</to>
            </mage_adminhtml_system_variable>
        </rewrite>
        <models>
            <megamenu>
                <class>Magazento_Megamenu_Model</class>
                <resourceModel>megamenu_mysql4</resourceModel>
            </megamenu>
            <megamenu_mysql4>
                <class>Magazento_Megamenu_Model_Mysql4</class>
                <entities>
                    <item>
                        <table>magazento_megamenu_item</table>
                    </item>
                    <item_store>
                        <table>magazento_megamenu_item_store</table>
                    </item_store>
                    <category>
                        <table>magazento_megamenu_category</table>
                    </category>
                    <category_store>
                        <table>magazento_megamenu_category_store</table>
                    </category_store>
                </entities>
            </megamenu_mysql4>
        </models>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>Magazento_Megamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenu_setup>
            <megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenu_write>
            <megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenu_read>
        </resources>
        <blocks>
            <megamenu>
                <class>Magazento_Megamenu_Block</class>
            </megamenu>
        </blocks>
        <helpers>
            <megamenu>
                <class>Magazento_Megamenu_Helper</class>
            </megamenu>
        </helpers>
    </global>
    <admin>
        <routers>
            <magazento_megamenu>
                <use>admin</use>
                <args>
                    <module>Magazento_Megamenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </magazento_megamenu>
        </routers>
    </admin>
    
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <megamenu translate="title">
                            <title>Megamenu</title>
                            <children>
                                <item translate="title">
                                    <title>Manage items </title>
                                </item>
                            </children>
                            <sort_order>65</sort_order>
                        </megamenu>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <megamenu>
                                            <title>Megamenu</title>
                                            <sort_order>101</sort_order>
                                        </megamenu>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <magazento translate="title" module="megamenu">
                <title>Magazento</title>
                <sort_order>65</sort_order>
                <children>
                    <megamenu translate="title" module="megamenu">
                        <title>Megamenu</title>
                        <sort_order>65</sort_order>
                        <children>
                            <item translate="title" module="megamenu">
                                <title>Items / Links</title>
                                <action>megamenu/admin_item/</action>
                                <resource>megamenu/admin/item</resource>
                            </item>
                            <category_item translate="title" module="megamenu">
                                <title>Categories</title>
                                <action>megamenu/admin_category</action>
                                <resource>megamenu/admin_category</resource>
                            </category_item>
                            <settings translate="title" module="megamenu">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/megamenu</action>
                                <sort_order>40</sort_order>
                            </settings>
                        </children>
                    </megamenu>
                </children>
            </magazento>
        </menu>
    </adminhtml>
    <default>
        <megamenu>
            <options>
                <moretext>View all...</moretext>
                <enable>1</enable>
                <userows>0</userows>
                <maximumsubcat>5</maximumsubcat>
                <menuskin>menured</menuskin>
            </options>
            <allpages>
                <enable>1</enable>
                <title>All Categories</title>
                <itemalign>right</itemalign>
                <contentalign>right</contentalign>
            </allpages>
            <licence>
                <email>johndoe@magazento.com</email>
                <serial>000000000000000000000000</serial>
            </licence>
        </megamenu>
    </default>
</config>